<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	
	<h1>Get 방식으로 요청 후 응답페이지 확인</h1>
	
	특징1. Get 방식으로 요청시 URL의 Header 영역에 데이터들을 포함시켜서 요청
	<br>
	- 사용자가 입력한 값(데이터)들이 url에 노출됨 <br>
	- 보안유지가 불가능 <br>
	- 로그인이나 회원가입 같은 경우 Get 방식에 부적합함 <br>
	<br> <br>
	특징2. Header 영역은 전송하는 길이에 제한이 있음 <br>
	- 방대한 데이터 담았을 경우, 초과된 데이터는 절단되어 넘어감 <br>
	- 게시판 작성 같은 경우 GET 방식 부적합 <br>
	<br> <br>
	특징3. 장점이라고 한다면 url에 데이터가 노출되어 있기 대문에
	즐겨찾기(북마크)(url 저장 해두었다가 요청)에 적합 <br>
	- 검색 기능 같은 GET 방식에 적합
	
	<br> <br>
	
	<h1>정보 입력 (GET방식)</h1>
	
	<form action="/webPrj05/member/join" method="get">

		이름 : <input type="text" name="memberName" required>
		<br><br>
		성별 : 
		<input type="radio" name="gender" value="M" checked>남자  
		<input type="radio" name="gender" value="F">여자

		<br><br>

		나이 : <input type="number" name="age">

		<br><br>

		좋아하는 음식(복수선택 가능) :
		<input type="checkbox" name="foods" value="한식"> 오심숙
		<input type="checkbox" name="foods" value="양식"> 니뽕내뽕
		<input type="checkbox" name="foods" value="한식"> 곰국시
		<input type="checkbox" name="foods" value="양식"> 스파게티야
		<input type="checkbox" name="foods" value="분식"> 죠스떡볶이


		<br><br> 

		<input type="submit" value="제출">
		<input type="reset">
	
	
	</form>
</body>
</html>