<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!-- 
 		* DML
 		<insert | update | delete id="식별자" [parameterType="패키지명.클래스명" || "별칭"]>
 			SQL ~~
 		</insert | update | delete>
 		
 		* DQL (SELECT)
 		<select id="식별자" [parameterType="패키지명.클래스명" || "별칭"]
 						resultType="패키지명.클래스명" || "별칭"
 						또는
 						resultMap="resultMap 식별자">
 			SQL ~~
 		</select>
 		
  -->
 
 
<!-- namespace : 현재 mapper 파일의 별칭  --> 
 <mapper namespace="memberMapper">
 
 
 
 
 	<insert id="join" parameterType="mvo">
 	<!-- <insert id="join" parameterType="com.kh.member.vo.MemberVo"> -->
 		INSERT INTO TB_USER(ID, PWD) 
 		VALUES(#{userId}, #{userPwd})
 	</insert>
 	
 	
 	
 	
 	<select id="login" parameterType="mvo" resultType="mvo">
 		SELECT ID, PWD FROM TB_USER 
 		WHERE ID = #{id} AND PWD = #{pwd}
 	</select>
 
 
 	
 	
 	<resultMap type="mvo" id="memberResult">
 		<result column="ID" property="userId"/>
 		<result column="PWD" property="userPwd"/>
 	</resultMap>
 	
 	<!--  
	 	<resultMap type="조회 결과를 담아줄 객체 타입" id="식별자">
	 		<result column="rs에서 가져올 칼럼명" property="객체의 필드명"/>
	 		<result column="rs에서 가져올 칼럼명" property="객체의 필드명"/>
	 		...
	 	</resultMap>
 	-->
 	
 	
 	<!-- 
 		ResultSet 으로부터 조회된 칼럼 값을 객체의 필드에 맵핑해줌 
 		
 		ResultSet rs = pstmt.executeQuery();
 		
 		String userId = rs.getString("ID");
 		String userPwd = rs.getString("PWD");
 		
 		MemberVo loginMember = new MemberVo();
 		loginMember.setUserId(id);
 		loginMember.setUserPwd(pwd);
 	-->

	
 
 </mapper>